<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        function addNameCard() {
          var popUrl = "/users";
          var popOption= "width=400px, height=450px";
          window.open(popUrl, "", popOption);
        }

        function getNameCard(index) {
          var popUrl = "/users/card&index="+index;
          var popOption= "width=100%, height=auto";
          window.open(popUrl, "", popOption);
        }
    </script>
</head>

<body>
    <a href="javascript:addNameCard();">
   		<img id="addNameCard" src="/images/add.png" style="max-width: 100%; height: auto;">
    </a>
    <a href="javascript:getNameCard();">
    <img id="getNameCard" src="/images/getList.png" style="max-width: 100%; height: auto;">
    </a>
    <img id="schedule" src="/images/schedule.png" style="max-width: 100%; height: auto;">
</body>
</html>
